@import "utils/variables";
@import 'components/ProductPreview';

* {
  box-sizing: border-box;
  font-family: $fontFraunces;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: $cream;
  font-family: $fontFraunces;

  display: flex;
  justify-content: center;
  align-items: center;
}