@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$pureWhite: #ffffff;
$cream: #f2eae2;
$aurometalSaurus: #6c7289;
$deepAquamarine: #3d8168;
$deepAquamarineHover: #1a4032;
$gunMetal: #1c232b;

$sansSerif: sans-serif;

$fontMontserrat: 'Montserrat', $sansSerif;
$fontFraunces: 'Fraunces', $fontMontserrat, $sansSerif;